@import './variables.scss';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1 / 2;
  margin: 10px 10px 5px 10px;
  background-color: rgb($secondary-bg-rgb);
  box-shadow: 0 2px 4px rgba(rgb($black-rgb), 0.2);
  border-radius: 20px;
}

@media screen and (min-width: 900px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 10px 10px 10px 5px;
    background-color: rgb($secondary-bg-rgb);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}